body {
  background-color: white;
  overflow: hidden;
}

#app {
  background-color: #fff;
}

.inscription-btn {
  transition: background-color 0.3s ease;
}

.inscription-btn:hover {
  background-color: #90ee90;
  color: black;
}

.v-btn:hover {
  background-color: #333 !important;
  color: #fff !important;
}